header nav{
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    padding:5px;
    background-color:white;
    border-radius: 8px;
    color:#3E1485;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h1{
    color:#3E1485;
}

.card {
    width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

img{
    width: 180px;
    border-radius:20%;
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}